<h1> Authors </h1>
<% @Authors.each do |author| %>
  <h3><%= link_to author.name, "/authors/#{author.id}" %></h3>
  <p>Created at: <%= author.created_at %><h6><%= link_to "Edit #{ author.name }", "/authors/#{ author.id }/edit", method: :get %></h6>
<% end %>
<br>
<h4><%= link_to 'New Author', '/authors/new' %></h4>
